<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h2 class="mb-4">Register</h2>
      <form>
        <div class="form-group">
          <label for="username">Email:</label>
          <input type="username" class="form-control" id="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            required>
          <small id="passwordHelp" class="form-text text-muted">Password must be at least 8 characters long and contain
            at least one digit, one lowercase letter, and one uppercase letter.</small>
        </div>
        <div class="form-group">
          Already have an account?
          <a href="/login">Login</a>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>