<form method="POST">

<fieldset>
    <label for="title">Title:</label>
    <input required type="text" name="title" class="form-control"> 
</fieldset>
<fieldset>
    <label for="description">Description:</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</fieldset>

<button class="offset-3 btn btn-primary">Save</button>

</form>