
  .carousel-container {
    margin-top: 100px; 
  }

 
  .carousel-image {
    max-width: 1000px; /* Set maximum width of the images */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the images horizontally */
  }