
  .carousel-container {
    margin-top: 80px; 
    max-width: 600px;
    max-height: 900px;
  }

 
  .carousel-image {
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the images horizontally */
  }