body {
  background-color: blue;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* <div class="container">
<img src="/images/image-2.jpg" alt="Los Angeles" class="d-block carousel-image" style="width:100%">
</div>
<div class="carousel-item">
<img src="/images/image-1.jpg" alt="Chicago" class="d-block carousel-image" style="width:100%">
</div>
<div class="carousel-item">
<img src="/images/image-3.jpg" alt="New York" class="d-block carousel-image" style="width:100%">
</div> */